/* navbar */
.brand-name {
  font-size: 2rem;
  font-weight: 600;
  flex: 2;
}
/* footer */
.footer-text {
  color: #e5e5e5;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: inherit;
}

/* Home Page*/
.main-container {
  margin-top: 2%;
  margin-left: 8%;
  margin-right: 2%;
  float: left;
}
.main-title {
  font-size: 4.3rem;
}
.main-subtitle {
  margin-top: 1em;
  font-size: 1.75rem;
}
.resume-container {
  margin-top: 3em;
}
.resume-link {
  text-decoration: none;
  color: black;
  padding: 0.75em;
  background: #86f0b9;
  border-radius: 0.5em;
}
.resume-link:hover {
  background: #e5e5e5;
  border: 0.125em solid #86f0b9;
}
.dev-image {
  width: 40vw;
  height: 50vh;
}
