/* navbar */
.brand-name {
  font-size: 2rem;
  font-weight: 600;
  flex: 2;
}
/* footer */
.footer-text {
  color: #e5e5e5;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: inherit;
}

/* Home Page*/
.main-container {
  margin-top: 2%;
  margin-left: 8%;
  margin-right: 2%;
  float: left;
}
.main-title {
  font-size: 4.3rem;
}
.main-subtitle {
  margin-top: 1em;
  font-size: 1.75rem;
}
.resume-container {
  margin-top: 3em;
}
.resume-link {
  text-decoration: none;
  color: black;
  padding: 0.75em;
  background: #86f0b9;
  border-radius: 0.5em;
}
.resume-link:hover {
  background: #e5e5e5;
  border: 0.125em solid #86f0b9;
}
.dev-image {
  width: 40vw;
  height: 50vh;
}

/* About Page*/
.about-image {
  width: 100%;
  height: 40vh;
  object-fit: contain;
}
.about-heading {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: underline;
}
.topic-seprator {
  text-align: center;
}
.topic-seprator-text {
  font-size: 2.25rem;
  font-weight: 800;
  color: #000;
}
.article-header {
  font-size: 2.25rem;
  font-weight: 600;
}
.article-subtext {
  font-size: 1.5rem;
  font-weight: 400;
}

/* Gallery Page */
.gallery-image {
  width: 25vw;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.admin-image-button {
  color: #333;
  padding: 12px;
  background: #86f0b9;
  border-radius: 8px;
  border-color: #86f0b9;
  box-shadow: none;
  font-weight: 600;
  font-size: 1.25rem;
  text-decoration: none;
}
.admin-image-button:hover {
  background: #e5e5e5;
  border: 2px solid #86f0b9;
}
.admin-btn-container {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 1em;
}
