.navbar {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  overflow: hidden;
}
.nav-list {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  text-align: right;
  flex: 1;
}

.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  text-align: center;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
}

/* contact form */
.contact-form {
  padding: 1em;
  border-radius: 0.5em;
  border: 0.25em solid #333;
}
.input-field {
  margin: 1em;
  text-align: center;
}
.contact-form-header {
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline;
  font-weight: 600;
  color: #333;
}
